@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model FoodPicker.Controllers.AuthController.RegisterViewModel
@inject UserManager<ApplicationUser> UserManager

<form method="post" asp-action="Register">
    
    <label asp-for="Username"></label>
    <input asp-for="Username" />
</form>