@model FoodPicker.Web.Controllers.PersistentConfigController.PersistentConfigViewModel

@{
    ViewBag.Title = "Configuration";
    Layout = "_Layout";
}

<h2>Configuration</h2>

<form asp-action="PostIndex" method="post" class="mb-3">
    <div class="mb-3">
        <label asp-for="HelloFreshRefreshToken"></label>
        <input asp-for="HelloFreshRefreshToken" class="form-control"/>
        <span asp-validation-for="HelloFreshRefreshToken"></span>
    </div>
    <div class="mb-3">
        <label asp-for="HomeChefAccessToken"></label>
        <input asp-for="HomeChefAccessToken" class="form-control"/>
        <span asp-validation-for="HomeChefAccessToken"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
